

.header {
  text-align: center;
  border-bottom: solid;
  border-width: thin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 7px;
  padding-top: 7px;
}

.logo {
}

.gem-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.main-app-div {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.equation-space {
  flex: 2;
  background-color: lightgrey;
  position: relative;
}

.sidebar {
  flex: 1;
  border-left: solid;
  border-width: thin;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.expression {
  font-size: 32px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: move;
}

.equation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  cursor: move;
}

.physical-number {
  font-size: 24px;
  cursor: move;
  color: darkred;
}

.equation .equation-var {
  color: green;
  cursor: crosshair;
}

.expression .equation-var {
  color: purple;
  cursor: crosshair;
}


.search-div {
  padding: 20px;
  flex-grow: 1;
}

.search-bar {
  width: 100%;
  font-size: 20px;
}

.info-box {
  border-top: solid;
  border-width: thin;
  padding: 20px;
  font-size: 18px;
}

.sidebar .equation-var {
  color: green;
  font-weight: bold;
}

.expression-info-box .equation-var {
  color: purple;
  font-weight: bold;
}

.search-result {
  font-size: 24px;
  padding: 6px;
  margin: 10px;
  background-color: lightgrey;

}

.search-result p {
  font-size: 16px;
  display: flex;

}

.reset-button {
  font-size: 20px;
}

.reset-button-div {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.nonideal-state-note {
  color: grey;
  font-style: italic;
}

.description-div {
  /*padding: 10px;*/
  border-bottom: solid;
  border-width: thin;
}

.title-input {
  font-size: 20px;
}

textarea {
  resize: vertical;
  padding: 8px;
}

.mymodal {
  position: absolute;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}
