.header {
  text-align: center;
  border-bottom: solid;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.main-app-div {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.equation-space {
  flex: 2;
  background-color: lightgrey;
  position: relative;
}

.sidebar {
  flex: 1;
  padding: 15px;
  border-left: solid;
}


.expression {
  font-size: 20px;
  cursor: grab;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.equation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: grab;
}

.physical-number {
  font-size: 24px;
  cursor: grab;
  color: darkred;
}

.equation .equation-var {
  color: green;
  cursor: crosshair;
}

.expression .equation-var {
  color: purple;
  cursor: crosshair;
}

.sidebar button {
  font-size: 20px;
  width: 100%;
}

.search-bar {
  width: 100%;
  font-size: 20px;
}
