.header {
  text-align: center;
  border-bottom: solid;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
}

.main-app-div {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}

.equation-space {
  flex: 2;
  background-color: lightgrey;
  position: relative;
}

.sidebar {
  flex: 1;
  border-left: solid;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.expression {
  font-size: 28px;
  cursor: grab;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.equation {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: grab;
}

.physical-number {
  font-size: 24px;
  cursor: grab;
  color: darkred;
}

.equation .equation-var {
  color: green;
  cursor: crosshair;
}

.expression .equation-var {
  color: purple;
  cursor: crosshair;
}

.sidebar button {
  font-size: 20px;
  width: 100%;
}

.search-div {
  padding: 20px;
}

.search-bar {
  width: 100%;
  font-size: 20px;
}

.info-box {
  border-top: solid;
  padding: 20px;
  font-size: 18px;
}

.sidebar .equation-var {
  color: green;
  font-weight: bold;
}

.expression-info-box .equation-var {
  color: purple;
  font-weight: bold;
}

.search-result {
  font-size: 24px;
  padding: 6px;
  margin: 10px;
  background-color: lightgrey;

}

.search-result p {
  font-size: 16px;
}
