
.fraction {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 75%;
}

.numerator {
  border-bottom: solid;
  border-bottom-width: thin;
  padding-left: 0.15em;
  padding-right: 0.15em;
  display: flex;
  padding-bottom: 0.2em;
}

.denominator {
  border-top: solid;
  border-top-width: thin;
  padding-left: 0.15em;
  padding-right: 0.15em;
  display: flex;
  margin-top: -0.03em;
}

.math-row {
  display: flex;
  align-items: center;
}

.equation span {
  padding-left: 1px;
  padding-right: 1px;
}

.bucktex {
  font-family: Georgia;
}

.surd {
  flex-direction: row;
  display: flex;
  margin-top: 0.1em;
}

.surd-contents {
  border-top: solid;
  border-width: 1px;
  display: flex;
}
